<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Tuition Reimbursement System</display-name>
  <servlet>
  	<servlet-name>LogIn</servlet-name>
  	<display-name>LogIn</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.LogIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementManager</servlet-name>
  	<display-name>ReimbursementManager</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.ReimbursementManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitForm</servlet-name>
  	<display-name>SubmitForm</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.SubmitForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getIncompleteForms</servlet-name>
  	<display-name>getIncompleteForms</display-name>
  	<description>returns JSON containing information needed to display incomplete forms</description>
  	<servlet-class>com.revature.servlets.getIncompleteForms</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitCompletedForms</servlet-name>
  	<display-name>SubmitCompletedForms</display-name>
  	<description>submit forms that have had their final grades added</description>
  	<servlet-class>com.revature.servlets.SubmitCompletedForms</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getCompleteForms</servlet-name>
  	<display-name>getCompleteForms</display-name>
  	<description></description>
  	<servlet-class>com.revature.servlets.getCompleteForms</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogIn</servlet-name>
  	<url-pattern>/LogIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementManager</servlet-name>
  	<url-pattern>/ReimbursementManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitForm</servlet-name>
  	<url-pattern>/SubmitForm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getIncompleteForms</servlet-name>
  	<url-pattern>/getIncompleteForms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitCompletedForms</servlet-name>
  	<url-pattern>/SubmitCompletedForms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getCompleteForms</servlet-name>
  	<url-pattern>/getCompleteForms</url-pattern>
  </servlet-mapping>
</web-app>
